.header-style {
  color: #f26528;
}

@media screen and (max-width: 1025px) {
  .about-offer-flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .about-offer-banner {
    width: 100%;
  }
}
